In [28]:
import numpy as np
import pandas as pd
import pyarrow as pa
import polars as pl

In [36]:
g = np.random.default_rng()
scores = g.integers(70,100,12)
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
scores

array([76, 80, 77, 84, 92, 98, 98, 85, 73, 91, 99, 97])

In [30]:
# Pandas Version
pd_scores = pd.Series(scores)

In [41]:
pd_scores.index = months
pd_scores

January      75
February     74
March        84
April        71
May          83
June         77
July         98
August       93
September    73
October      87
November     80
December     72
dtype: int64

In [40]:
# Polars Version
pl_scores = pl.DataFrame({
    "month":months,
    "scores":scores
})
pl_scores

shape: (12, 2)
┌───────────┬────────┐
│ month     ┆ scores │
│ ---       ┆ ---    │
│ str       ┆ i64    │
╞═══════════╪════════╡
│ January   ┆ 76     │
│ February  ┆ 80     │
│ March     ┆ 77     │
│ April     ┆ 84     │
│ May       ┆ 92     │
│ …         ┆ …      │
│ August    ┆ 85     │
│ September ┆ 73     │
│ October   ┆ 91     │
│ November  ┆ 99     │
│ December  ┆ 97     │
└───────────┴────────┘

In [52]:
# Pandas Student Average
pd_scores.mean()

np.float64(80.58333333333333)

In [53]:
# Polars Student Average
pl_scores.select(pl.mean("scores"))

shape: (1, 1)
┌────────┐
│ scores │
│ ---    │
│ f64    │
╞════════╡
│ 87.5   │
└────────┘