In [28]:
import numpy as np
import pandas as pd
import pyarrow as pa
import polars as pl

In [67]:
g = np.random.default_rng()
scores = g.integers(70,100,10)
months = ["September","October","November","December","January","February","March","April","May","June"]
scores

array([82, 80, 89, 98, 83, 85, 86, 96, 82, 74])

In [68]:
# Pandas Version
pd_scores = pd.Series(scores)

In [69]:
pd_scores.index = months
pd_scores

September    82
October      80
November     89
December     98
January      83
February     85
March        86
April        96
May          82
June         74
dtype: int64

In [70]:
# Polars Version
pl_scores = pl.DataFrame({
    "month":months,
    "scores":scores
})
pl_scores

shape: (10, 2)
┌───────────┬────────┐
│ month     ┆ scores │
│ ---       ┆ ---    │
│ str       ┆ i64    │
╞═══════════╪════════╡
│ September ┆ 82     │
│ October   ┆ 80     │
│ November  ┆ 89     │
│ December  ┆ 98     │
│ January   ┆ 83     │
│ February  ┆ 85     │
│ March     ┆ 86     │
│ April     ┆ 96     │
│ May       ┆ 82     │
│ June      ┆ 74     │
└───────────┴────────┘

In [71]:
# Pandas Student Average Over a Year
pd_scores.mean()

np.float64(85.5)

In [72]:
# Polars Student Average Over a Year
pl_scores.select(pl.mean("scores"))

shape: (1, 1)
┌────────┐
│ scores │
│ ---    │
│ f64    │
╞════════╡
│ 85.5   │
└────────┘

In [73]:
# Pandas Student Average for First Five Months
pd_scores[0:5].mean()

np.float64(86.4)

In [74]:
# Polars Student Average Over First Five Months
pl_scores[0:5].select(pl.mean("scores"))

shape: (1, 1)
┌────────┐
│ scores │
│ ---    │
│ f64    │
╞════════╡
│ 86.4   │
└────────┘